# See https://jasonstitt.com/gitignore-whitelisting-patterns for reference.

# Ignore everything...
*
# ... but allow directories to be searched
!*/

# Allow C# files under any folder(s), except /bin and /obj
!Lambda/*.csproj
!Lambda/**/*.cs
Lambda/bin
Lambda/obj

# Allow build files
!build.cmd
!build.sh

# Allow the README
!README.md

# Allow ONLY the serverless config file
!serverless.yml
